
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mx-auto" style="width:75%">
    <br />
    <h2>Order Details Table</h2>
    <br />

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal5">
            Add New Order Detail
        </button>
    </div>

    <br />
    <table class="table table-striped" id="OrderDetailsTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Order ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal Code</th>
                <th>Date</th>
                <th>Required Date</th>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Is Delivered</th>
                <th>Status</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

<br />
<br />