@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mx-auto" style="width:75%">
    <br />
    <h2>Products Table</h2>
    <br />

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success ProductSaveModal" data-bs-toggle="modal" data-bs-target="#exampleModal2" id="ProductSaveModal" name="AddCategory">
            Add New Product
        </button>
    </div>

    <br />
    <table class="table table-striped" id="ProductsTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Status</th>
                <th>Description</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>