@*@model EntityLayer.Concrete.Product*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ECommerceLayout.cshtml";
}

<div class="bg-light" style="height:150px;">
    <h3 class="text-center" style="font-size:75px">Advertisement Board</h3>
</div>
<div class="container row mx-auto mt-5">
    @Html.Partial("_LeftMenu")
    <div class="col-9">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="ProductsContainer">
        </div>
    </div>
</div>

