@using BusinessLayer.Concrete
<!-- Add Category Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br />
            <form method="post" id="CategoryModalSaveForm">
                <div class="mx-auto">
                    <div class="form-group d-flex justify-content-center">
                        <div class="row">
                            <div class="col-6" style="display:none">
                                <label for="CategoryID" class="form-label">Categor ID</label>
                                <input class="form-control" id="CategoryID" name="CategoryID">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="CategoryName" class="form-label">CategoryName</label>
                                <input type="text" class="form-control" id="CategoryName" name="CategoryName">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <div class="col-6 mx-auto">
                                    <label class="form-label">Category Status</label>
                                    <br />
                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="CategoryStatus" id="CategoryStatus" value="True">
                                            <label class="form-check-label" for="CategoryStatus">
                                                True
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="CategoryStatus" id="CategoryStatus" value="False">
                                            <label class="form-check-label" for="CategoryStatus">
                                                False
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br /> <br />
                            <label for="CategoryDescription" class="form-label">Category Description</label>
                            <input type="text" class="form-control" id="CategoryDescription" name="CategoryDescription">
                        </div>
                    </div>
                    <br /> <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary CategorySaveModal" data-bs-dismiss="modal" name="CloseModal">Close</button>
                    <button class="btn btn-success" id="SaveChangesButton">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Product Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">Add New Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br />
            <form method="post" id="ProductModalSaveForm">
                <div class="mx-auto">
                    <div class="form-group d-flex justify-content-center">
                        <div class="row">
                            <div class="col-6" style="display:none">
                                <label for="ProductID" class="form-label">Categor ID</label>
                                <input class="form-control" id="ProductID" name="ProductID">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="ProductName" class="form-label">Product Name</label>
                                <input type="text" class="form-control" id="ProductName" name="ProductName">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="ProductImage" class="form-label">Select image:</label>
                                <input type="file" class="form-control" id="ProductImage" name="ProductImage" accept="image/*">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <div class="col-6 mx-auto">
                                    <label class="form-label">Product Status</label>
                                    <br />
                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="ProductStatus" id="ProductStatus" value="True">
                                            <label class="form-check-label" for="ProductStatus">
                                                True
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="ProductStatus" id="ProductStatus" value="False">
                                            <label class="form-check-label" for="ProductStatus">
                                                False
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="ProductPrice" class="form-label">Product Price</label>
                                <input type="text" class="form-control" id="ProductPrice" name="ProductPrice">
                            </div>
                            <div class="col-6">
                                <label for="ProductStock" class="form-label">Product Stock</label>
                                <input type="text" class="form-control" id="ProductStock" name="ProductStock">
                            </div>
                            <div class="col-6">
                                <label for="CategoryID" class="form-label">Category Name</label>
                                <select name="CategoryID" class="form-control">
                                    @foreach (var item in CacheManager.GetAllCategories())
                                    {
                                        <option value="@item.CategoryID">@item.CategoryName</option>
                                    }
                                </select>
                            </div>
                            <br /> <br />
                            <label for="ProductDescription" class="form-label">Product Description</label>
                            <input type="text" class="form-control" id="ProductDescription" name="ProductDescription">
                        </div>
                    </div>
                    <br /> <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- User Save Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Add New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br />
            <form method="post" id="UserModalSaveForm">
                <div class="mx-auto">
                    <div class="form-group d-flex justify-content-center">
                        <div class="row">
                            <div class="col-6" style="display:none">
                                <label for="UserID" class="form-label">User ID</label>
                                <input class="form-control" id="UserID" name="UserID">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserName" class="form-label">UserName</label>
                                <input type="text" class="form-control" id="UserName" name="UserName">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserEmail" class="form-label">E Mail</label>
                                <input type="text" class="form-control" id="UserEmail" name="UserEmail">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserFirstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="UserFirstName" name="UserFirstName">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserLastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="UserLastName" name="UserLastName">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserPassword" class="form-label">Password</label>
                                <input type="text" class="form-control" id="UserPassword" name="UserPassword">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserAddress" class="form-label">Address</label>
                                <input type="text" class="form-control" id="UserAddress" name="UserAddress">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserPostalCode" class="form-label">Postal Code</label>
                                <input type="text" class="form-control" id="UserPostalCode" name="UserPostalCode">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="UserCity" name="UserCity">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserCountry" class="form-label">Country</label>
                                <input type="text" class="form-control" id="UserCountry" name="UserCountry">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserGender" class="form-label">Gender</label>
                                <input type="text" class="form-control" id="UserGender" name="UserGender">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserPhone" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="UserPhone" name="UserPhone">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <div class="col-6 mx-auto">
                                    <label class="form-label">User Status</label>
                                    <br />
                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="UserStatus" id="UserStatus" value="True">
                                            <label class="form-check-label" for="UserStatus">
                                                True
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="UserStatus" id="UserStatus" value="False">
                                            <label class="form-check-label" for="UserStatus">
                                                False
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br /> <br />
                        </div>
                    </div>
                    <br /> <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="CloseModal">Close</button>
                    <button class="btn btn-success" id="SaveChangesButton">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Order Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal4Label">Add New Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br />
            <form method="post" id="OrderModalSaveForm">
                <div class="mx-auto">
                    <div class="form-group d-flex justify-content-center">
                        <div class="row">
                            <div class="col-6" style="display:none">
                                <label for="OrderID" class="form-label">Order ID</label>
                                <input class="form-control" id="OrderID" name="OrderID">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="UserID" class="form-label">User ID</label>
                                <input class="form-control" id="UserID" name="UserID">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="OrderDate" class="form-label">Order Date</label>
                                <input type="date" class="form-control" id="OrderDate" name="OrderDate">
                            </div>
                            <div class="col-6">
                                <label for="OrderRequiredDate" class="form-label">Order Required Date</label>
                                <input type="date" class="form-control" id="OrderRequiredDate" name="OrderRequiredDate">
                            </div>
                            <div class="col-6">
                                <label for="OrderShippedDate" class="form-label">Order Shipped Date</label>
                                <input type="date" class="form-control" id="OrderShippedDate" name="OrderShippedDate">
                            </div>
                            <div class="col-6">
                                <label for="OrderFreight" class="form-label">Order Freight</label>
                                <input type="text" class="form-control" id="OrderFreight" name="OrderFreight">
                            </div>
                            <div class="col-6">
                                <label for="OrderIsDelivered" class="form-label">Order Is Delivered?</label>
                                <input type="text" class="form-control" id="OrderIsDelivered" name="OrderIsDelivered">
                            </div>
                            <div class="col-6">
                                <div class="col-6 mx-auto">
                                    <label class="form-label">Order Status</label>
                                    <br />
                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="OrderStatus" id="OrderStatus" value="True">
                                            <label class="form-check-label" for="OrderStatus">
                                                True
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="OrderStatus" id="OrderStatus" value="False">
                                            <label class="form-check-label" for="OrderStatus">
                                                False
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br /> <br />
                        </div>
                    </div>
                    <br /> <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add OrderDetail Modal -->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal5Label">Add New OrderDetail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br />
            <form method="post" id="OrderDetailModalSaveForm">
                <div class="mx-auto">
                    <div class="form-group d-flex justify-content-center">
                        <div class="row">
                            <div class="col-6" style="display:none">
                                <label for="OrderDetailID" class="form-label">Order Detail ID</label>
                                <input class="form-control" id="OrderDetailID" name="OrderDetailID">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="OrderID" class="form-label">Order ID</label>
                                <input class="form-control" id="OrderID" name="OrderID">
                            </div>
                            <br /> <br />
                            <div class="col-6">
                                <label for="ProductID" class="form-label">Product ID</label>
                                <input type="text" class="form-control" id="ProductID" name="ProductID">
                            </div>
                            <div class="col-6">
                                <label for="OrderDetailUnitPrice" class="form-label">Order Detail Unit Price</label>
                                <input type="text" class="form-control" id="OrderDetailUnitPrice" name="OrderDetailUnitPrice">
                            </div>
                            <div class="col-6">
                                <label for="OrderDetailQuantity" class="form-label">Order Detail Quantity</label>
                                <input type="text" class="form-control" id="OrderDetailQuantity" name="OrderDetailQuantity">
                            </div>
                            <div class="col-6">
                                <label for="OrderDetailDiscount" class="form-label">Order Detail Discount</label>
                                <input type="text" class="form-control" id="OrderDetailDiscount" name="OrderDetailDiscount">
                            </div>
                            <div class="col-6">
                                <div class="col-6 mx-auto">
                                    <label class="form-label">Order Detail Status</label>
                                    <br />
                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="OrderDetailStatus" id="OrderDetailStatus" value="True">
                                            <label class="form-check-label" for="OrderDetailStatus">
                                                True
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="OrderDetailStatus" id="OrderDetailStatus" value="False">
                                            <label class="form-check-label" for="OrderDetailStatus">
                                                False
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br /> <br />
                        </div>
                    </div>
                    <br /> <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="DeleteModalSaveForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-success" id="deletemodal">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>