
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mx-auto" style="width:75%">
    <br />
    <h2>Categories Table</h2>
    <br />

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success CategorySaveModal" data-bs-toggle="modal" data-bs-target="#exampleModal" id="CategorySaveModal" name="AddCategory">
            Add New Category
        </button>
    </div>
    <br />
    <table class="table table-striped" id="CategoriesTable">
        @*<thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Status</th>
                <th>Description</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody></tbody>*@
    </table>
</div>

