
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ECommerceLayout.cshtml";
}

<div class="bg-light" style="height:150px;">
    <h3 class="text-center" style="font-size:75px">Advertisement Board</h3>
</div>
<div class="container mt-5">
    <table class="table" id="OrderTable">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Discount</th>
                <th scope="col">Total</th>
                <th scope="col">Delivered Date</th>
                <th scope="col">Required Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>


